.header {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.header__title {
  font-size: 56px;
  font-weight: bold;
  font-family: "Pokemon Solid", Arial, Helvetica, sans-serif;
  margin: 0;
}

.header__image {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
